n8n_workflow_code.json
{
  "name": "Vercel → n8n → Slack/Discord → Supabase (Deploy Notifications)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vercel/deploy",
        "responseMode": "onReceived",
        "responseData": "json",
        "options": {
          "responseCode": 200,
          "responseData": "{\n  \"ok\": true\n}"
        }
      },
      "id": "Webhook_Vercel",
      "name": "Vercel Deployment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// Dual parser: handles GitHub Action payload or Vercel webhooks\nconst body = items[0].json;\n\n// Detect GitHub Action payload\nconst isAction = typeof body.status === 'string' && (body.url || body.deploymentId);\nif (isAction) {\n  const status = body.status; // 'success' | 'failure'\n  const url = body.url || '';\n  const project = body.project || '';\n  const commitSha = body.commitSha || '';\n  const branch = body.branch || '';\n  const deploymentId = body.deploymentId || '';\n  const createdAt = body.createdAt || Date.now();\n  return [{\n    json: {\n      normalized: {\n        status,\n        vercelStatus: status === 'success' ? 'READY' : 'ERROR',\n        event: 'github_action_deploy',\n        url,\n        project,\n        commitSha,\n        commitMessage: '',\n        branch,\n        deploymentId,\n        createdAt,\n        error: status === 'failure' ? (body.error || null) : null\n      },\n      raw: body\n    }\n  }];\n}\n\n// Fallback to Vercel payload normalization (original logic)\nconst payload = body.payload || body.deployment || body;\nconst event = body.type || body.event || body.action || 'deployment';\nconst readyState = payload.readyState || payload.state || body.readyState || '';\nconst statusMap = { READY: 'success', ERROR: 'failure', CANCELED: 'failure', BUILDING: 'building', INITIALIZING: 'building' };\nconst status = statusMap[readyState] || (String(event).includes('error') ? 'failure' : (String(event).includes('ready') ? 'success' : 'building'));\nconst rawUrl = payload.url || payload.targetUrl || payload.readyUrl || '';\nconst url = String(rawUrl).startsWith('http') ? rawUrl : (rawUrl ? `https://${rawUrl}` : '');\nconst project = payload.name || payload.project || payload.projectId || body.project || '';\nconst commitSha = (payload.gitSource && payload.gitSource.commitSha) || (payload.meta && payload.meta.githubCommitSha) || payload.commit || body.commitId || '';\nconst commitMessage = (payload.gitSource && payload.gitSource.commitMessage) || (payload.meta && payload.meta.githubCommitMessage) || '';\nconst branch = (payload.gitSource && payload.gitSource.ref) || (payload.meta && payload.meta.githubCommitRef) || payload.branch || body.branch || '';\nconst deploymentId = payload.id || body.id || '';\nconst createdAtVercel = payload.createdAt || Date.now();\nconst error = payload.error || body.error || null;\n\nreturn [{\n  json: {\n    normalized: {\n      status,\n      vercelStatus: readyState,\n      event,\n      url,\n      project,\n      commitSha,\n      commitMessage,\n      branch,\n      deploymentId,\n      createdAt: createdAtVercel,\n      error\n    },\n    raw: body\n  }\n}];"
      },
      "id": "Fn_Parse",
      "name": "Parse Vercel Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "values": [
                  {
                    "condition": {
                      "operation": "equal",
                      "value2": "success"
                    },
                    "value1": "={{$json[\\\"normalized\\\"].status}}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "If_Success",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "mode": "passThrough",
        "options": {"setAllData": true}
      },
      "id": "Merge_Result",
      "name": "Merge Result",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1380, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK_HERE",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \\\"text\\\": `✅ Deployment succeeded for *${$json.normalized.project || 'project'}* on branch *${$json.normalized.branch || 'main'}*\\n<${$json.normalized.url}|Open live app>\\ncommit: ${$json.normalized.commitSha || 'n/a'}\\nvercel: ${$json.normalized.deploymentId}`\n}"
      },
      "id": "Slack_Success",
      "name": "Slack: Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [940, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK_HERE",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \\\"text\\\": `🚨 Deployment failed for *${$json.normalized.project || 'project'}* on branch *${$json.normalized.branch || 'main'}*\\ncommit: ${$json.normalized.commitSha || 'n/a'}\\nstatus: ${$json.normalized.vercelStatus}\\nerror: ${$json.normalized.error ? (typeof $json.normalized.error === 'string' ? $json.normalized.error : JSON.stringify($json.normalized.error)) : 'unknown'}`\n}"
      },
      "id": "Slack_Failure",
      "name": "Slack: Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [940, 440]
    },
    {
      "parameters": {
        "mode": "json",
        "json": "={\n  \\\"content\\\": `✅ Deployment succeeded for ${$json.normalized.project || 'project'} on ${$json.normalized.branch || 'main'} | ${$json.normalized.url}`\n}"
      },
      "id": "Discord_Success_Payload",
      "name": "Discord Payload (Success)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1140, 80]
    },
    {
      "parameters": {
        "mode": "json",
        "json": "={\n  \\\"content\\\": `🚨 Deployment failed for ${$json.normalized.project || 'project'} on ${$json.normalized.branch || 'main'} | status=${$json.normalized.vercelStatus}`\n}"
      },
      "id": "Discord_Failure_Payload",
      "name": "Discord Payload (Failure)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1140, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/YOUR_DISCORD_WEBHOOK_HERE",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ $json }}"
      },
      "id": "Discord_Success",
      "name": "Discord: Success (optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1340, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/YOUR_DISCORD_WEBHOOK_HERE",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ $json }}"
      },
      "id": "Discord_Failure",
      "name": "Discord: Failure (optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1340, 520]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "deployments_log",
        "columns": [
          "timestamp","commit_hash","status","url","project","branch","deployment_id","raw_payload"
        ],
        "values": "={{ [{ timestamp: new Date($json.normalized.createdAt).toISOString(), commit_hash: $json.normalized.commitSha, status: $json.normalized.status, url: $json.normalized.url, project: $json.normalized.project, branch: $json.normalized.branch, deployment_id: $json.normalized.deploymentId, raw_payload: $json.raw }] }}"
      },
      "id": "Supabase_Insert",
      "name": "Supabase: Log Deployment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1160, 300],
      "credentials": {
        "postgres": {
          "id": "YOUR_N8N_CREDENTIAL_ID",
          "name": "Supabase Postgres (configure in n8n)"
        }
      }
    }
  ],
  "connections": {
    "Vercel Deployment Webhook": {
      "main": [[{ "node": "Parse Vercel Payload", "type": "main", "index": 0 }]]
    },
    "Parse Vercel Payload": {
      "main": [[
        { "node": "Success?", "type": "main", "index": 0 },
        { "node": "Supabase: Log Deployment", "type": "main", "index": 0 }
      ]]
    },
    "Success?": {
      "main": [
        [
          { "node": "Slack: Success", "type": "main", "index": 0 },
          { "node": "Discord Payload (Success)", "type": "main", "index": 0 }
        ],
        [
          { "node": "Slack: Failure", "type": "main", "index": 0 },
          { "node": "Discord Payload (Failure)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Discord Payload (Success)": {
      "main": [[{ "node": "Discord: Success (optional)", "type": "main", "index": 0 }]]
    },
    "Discord Payload (Failure)": {
      "main": [[{ "node": "Discord: Failure (optional)", "type": "main", "index": 0 }]]
    },
    "Slack: Success": {
      "main": [[{ "node": "Merge Result", "type": "main", "index": 0 }]]
    },
    "Slack: Failure": {
      "main": [[{ "node": "Merge Result", "type": "main", "index": 0 }]]
    },
    "Supabase: Log Deployment": {
      "main": [[{ "node": "Merge Result", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "staticData": null,
  "meta": {"templateCredsSetup": true},
  "settings": {},
  "tags": [{"name": "deploy"}]
}
